/* СЕКЦИЯ HERO (ГЕРОЙ) */
.section.hero{background-color: #2F303A;
              text-align: center;

              padding-top: 200px;
              padding-bottom: 200px;
             }
.hero.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;

    margin:0 auto 30px auto;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color:var(--main-white-color);
           }
.hero.btn{
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;


    color:var(--main-white-color);
    background-color: var(--active-color);
         }
.hero.btn:hover, .hero.btn:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
               }         
/* СЕКЦИЯ PLUS (ПРЕИМУЩЕСТВА) */
.plus.title{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
            }
.plus-list{
    display: flex;
    gap:var(--main-flex-gap);
}            
.plus-list-subtitle{
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
            }
.plus-list-text{ 
    line-height: 1.71;
    margin: 0;
    
    letter-spacing: 0.03em;
    
    color: var(--second-color-text)
            }   
/* СЕКЦИЯ WORK (РАБОТА) */
.title.work{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0 0 50px 0;
            }
.work-list{
    display: flex;
    gap: var(--main-flex-gap);
          }            
/* СЕКЦИЯ TEAM(КОММАНДА) */
.section.team{background-color: #F5F4FA;}
.title.team{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0 0 50px 0;
            }
.team-list{
    display: flex;
    gap:var(--main-flex-gap);  
          }            
.team-card{
          background-color: var(--main-white-color);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 0px 0px 4px 4px;
          
          padding-bottom: 30px;
          
          text-align: center;

          }            
.team-name{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin: 30px 0 10px 0;
    
    letter-spacing: 0.03em;
            }
.team-prof{
    
    font-size: 16px;
    line-height: 1.19;

    margin: 0;
    
    letter-spacing: 0.03em;
    
    color:var(--second-color-text);
            }
