.portfolio{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
           }
 /* ФИЛЬТР (FILTER) */
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    
    text-align: center;
    letter-spacing: 0.03em;
            }   
.filter-btn.current{ 
    cursor: pointer;
    color: var(--main-white-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
               }            
.filter-btn:hover, .filter-btn:focus{
    cursor: pointer;
    color: var(--main-white-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
               }    
 /* РАБОТЫ (JOBS) */
.jobs-card{
    background-color:var(--other-bcg-color);
    border: 1px solid #EEEEEE;
            }
.jobs-header{
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;}    
.jobs-name{
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.03em;

    color:var(--second-color-text);
             }            